 /* style for navbar-1 */
 #navbar-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}
.logo{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 30px;
}
       
.margin{
    padding-left: 50px;
    padding-right: 50px;
}
#links a{
    text-decoration: none;
    color: rgb(40, 40, 40);
    font-size: 12px;
    font-family: Arial;
    margin-left: 5px;
    margin-right: 10px;
}
/* style for navbar-2 */
#navbar-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;    
}
.logo-2{
    height:20px;
    width: 16px;
    margin-left: 10px;
}
#navbar-2-logo, #search-links{
    width: 25%;
}
#navbar-2-links{
    width: 50%;
}
#search-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    #search{
        height: 35px;
        width: 200px;
        border-radius: 25px;
        padding-left: 60px;
        font-size: large;
    }
    input.search{
        background: transparent url("/assets/search.svg") no-repeat;
    }
    .icon {
        background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
        background-size: 28px;
        background-color: #f5f5f5;
        border-style: none;
      }  


#navbar-2-links a{
    text-decoration: none;
    color: black;
    font-size: medium;
    margin-left: 8px;
    margin-right: 8px;
}

/* style for navbar-3 */
#navbar-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5; 
}
#navbar-3 h4, h6{
    margin: 0;
    padding: 10px;
} 

section{
    background-image: url(https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/8eb285a9-ccad-4840-af51-fce7432e89eb/nike-just-do-it.jpg);
    background-size: contain;
    background-repeat: repeat;
    min-height: 320px;
}
    

#image-cards{
    display: flex;
    justify-content: space-between;
}
#image-cards img{
    width: 33%;
    border-radius: 15px;
    border: 1px solid #f5f5f5;
}

/* Additional text */
#Additional-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.header, .small-text{
    margin: 0;
    padding: 5px;
}
.small-text{
    font-size: x-large;
}
.header{
    font-size: 80px;
    font-family: impact;
}

#Additional-text button{
    border-radius: 22px;
    background-color: #201c1c;
    color: #f5f5f5;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: large;
}

#Footer-box-1{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 40px auto;
}